#btnPly1 {
  background-color: rgb(221, 157, 246);
}

#btnPly2 {
  background-color: rgb(112, 200, 235);
}

#resetBtn {
  background-color: rgb(239, 113, 134);
}

#headerTitle {
  background-color: rgb(255, 192, 203, 0.5);
}
